# Java
target/
*.class
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

